[Unit]
Description=Prometheus rule linter/validator
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=pint
ExecStart=/usr/bin/pint watch -listen :9123 /etc/prometheus

[Install]
WantedBy=multi-user.target
